.slider__inner {
    margin-top: 70px;
}
.slider {
    position: relative;
}


/* swiper */

.swiper-slide.img1 {
    background: url(../../img/slider02.png) no-repeat center / cover ;
    /* height: 500px ; */
}
.swiper-slide.img2 {
    background: url(../../img/slider03.png) no-repeat center / cover ;
    /* height: 500px ; */
}
.swiper-slide.img3 {
    background: url(../../img/slider04.png) no-repeat center / cover ;
    /* height: 500px ; */
}
.swiper-slide.img4 {
    background: url(../../img/slider05.png) no-repeat center / cover ;
    /* height: 500px ; */
}
.swiper-slide.img5 {
    background: url(../../img/slider01.jpg) no-repeat center / cover ;
    /* height: 500px ; */
}

.swiper-slide:hover {
    filter: brightness(120%);
    transition: all 0.3s ease;
}

.swiper-slide .desc {
    width: 1160px;
    margin: 0 auto;
    padding: 100px 20px;
    box-sizing: border-box;
}
.swiper-slide .desc h2{
    font-size: 110px;
    font-weight: 500;
    line-height: 1.06;
    color: rgba(255, 255, 255, 0.603);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
    padding-top: 90px;
    margin-left: -8px;
}
.swiper-slide:hover .desc h2 {
    color: rgb(233 206 172 / 60%);
}
.swiper-slide .desc p {
    width: 30%;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    line-height: 1.35;
    margin-bottom: 30px;
}
.swiper-slide .desc .btn {
    padding-bottom: 70px;
}
.swiper-slide .desc .btn a{
    font-size: 16px;
    background-color: rgb(227 216 216);
    padding: 11px 50px;
    display: inline-block;
}
.swiper-slide .desc .btn a.black {
    background: rgb(66 33 33 / 80%);
    color: #fff;
}
.swiper-button-next,.swiper-button-prev  {
    width: 30px !important;
    height: 56px !important;
    background-image: url(../../../slideType/img/slider_icon.svg);
}
.swiper-button-next {
    background-position: -50px 0px;
}
.swiper-button-next:after, .swiper-button-prev:after {
    opacity: 0;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-image: url(../../../slideType/img/slider_icon.svg) !important;
    background-position: -20px -70px;
    background-color: transparent;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-position: 0 -70px;
}

.swiper-button {
    position: absolute;
    left: 50%;
    margin-left: 65px;
    bottom: 24px;
    z-index: 1000;
    display: flex;
    cursor: pointer;
}

.swiper-button-stop {
    background-image: url(../../../slideType/img/slider_icon.svg) !important;
    background-position: -60px -70px;
    width: 16px;
    height: 16px;
}

.swiper-button-play {
    background-image: url(../../../slideType/img/slider_icon.svg) !important;
    background-position: -40px -70px;
    width: 16px;
    height: 16px;
}

@media (max-width: 960px){
    .swiper-slide .desc {
        width: 100%;
        text-align: center;

    }

    .swiper-slide .desc h3 {
        font-size: 70px;
    }
    
}
@media (max-width: 600px){
    .swiper-slide .desc {
        padding: 80px 0;
    }
    .swiper-slide .desc h3 {
        font-size: 40px;
    }

    .swiper-slide .desc p {
        font-size: 16px;
        margin-bottom: 50px;
    }

    .swiper-slide .desc .btn a {
        padding: 10px 25px;
    }
}
@media (max-width: 480px){
   
}